<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
    <h5 class="my-0 mr-md-auto font-weight-normal text-dark">Scan-Time</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark text-decoration-none pointerCursor" (click)="goToCategories()">Categorías</a>
        <a class="p-2 text-dark text-decoration-none pointerCursor" (click)="goToJobs()">Empleos</a>
      </nav>
    <a class="btn bg-dark text-white" (click)="logOut()">Cerrar sesión</a>
</div>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>