<!-- Barra de navegación -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white">
    <h5 class="my-0 mr-md-auto font-weight-normal">Jobs-Platform</h5>
</div>
<!-- Barra de navegación -->
<!-- Contenedor general -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-md-11 col-lg-5 col-xl-3">
            <img src="../../../../../assets/img/undraw_job_offers_kw5d.svg" alt="Jobs-Platform" title="Jobs-Platform" class="homeIlustration">
            <h1 class="text-center text-dark m-0 p-0 mt-4">Jobs-Platform</h1>
            <p class="text-center lead darkText m-0 p-0 mt-3">Plataforma administrativa</p>
            <button class="btn text-center text-white bg-dark homeButton mt-4" (click)="goToLogin()">Iniciar sesión</button>
            <h6 class="text-center darkText mt-5 pointerCursor" (click)="goToRegister()">¿No tienes cuenta? regístrate</h6>
        </div>
    </div>
</div>
<!-- Contenedor general -->